Flask
beautifulsoup4
boto3
dash
huggingface_hub>=0.23.0
llama-cpp-python>=0.2.90,<0.3.0
lxml
matplotlib
mlflow==3.14.0
numpy
pandas
pika
plotly
psycopg[binary]
psycopg2-binary
pydeps
pylint
pytest
pytest-cov
python-dotenv
rapidfuzz
requests
scikit-learn
seaborn
selenium
setuptools
sphinx
sphinx-rtd-theme
torch
tqdm
transformers
urllib3
uv
wheel
