
{% extends "base.html" %}
{% block content %}

<h1>Projects</h1>
<h2>EN.605.256.81.SU26 Modern Software Concepts in Python</h2>

<h3 class="Personal Website">Module 1: Personal Flask Website</h3>
<p>
  This project builds a personal website using Flask, HTML, and CSS. The site includes an About page, a Contact page,
  and a Projects page, and it is designed to be expanded throughout the course as new Python projects are completed.
</p>

<p>
  <strong>GitHub Link:</strong>
  <a href="https://github.com/amrmansour00/jhu_software_concepts" target="_blank" rel="noopener">View repository</a>
</p>

{% endblock %}

